/*This is a basic style for abput me page*/
body{
    background-color: beige;
    background-image: url(images/lamp.jpg);
}
.bio{
    color: midnightblue;
    text-decoration: underline;
    font-weight: bold;
}
h3{
    color: cornflowerblueh;
}
span{
    font-style: italic;
}

